---
import Container from "./Container.astro"
import { Image } from "astro:assets"

import avatar1 from "../images/avatar1.webp"
import avatar2 from "../images/avatar2.webp"
import avatar3 from "../images/avatar3.webp"
import avatar4 from "../images/avatar4.webp"

const avatarImages = [
  { src: avatar3, class: "h-8 w-8 rounded-full object-cover" },
  { src: avatar4, class: "h-12 w-12 rounded-full object-cover" },
  { src: avatar1, class: "z-10 h-16 w-16 rounded-full object-cover" },
  { src: avatar2, class: "relative h-12 w-12 rounded-full object-cover" },
  { src: avatar3, class: "h-8 w-8 rounded-full object-cover" }
];
---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">

  </div>
  <Container>
    <div class="relative">
      <div class="flex items-center justify-center -space-x-2">
        {avatarImages.map(({ src, class: className }) => (
          <Image src={src} alt="member photo" class={className} loading="lazy"/>
        ))}
      </div>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
          Trabajamos con marcas de todos los países. Sin fronteras, sin límites.
        </h1>

        <div class="flex flex-wrap justify-center gap-6">
          <a
            href="https://wa.me/5491123642751"
            class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white dark:text-dark">
              Contanos sobre tu negocio.
            </span>
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
