---
import Container from "./Container.astro"; 
---

<div id="quienessomos">
  <Container>
    <div class="space-y-6 justify-between text-white md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
      <div class="w-full md:w-5/12 lg:w-1/2 flex justify-center md:justify-start">
        <img
          src="./images/logoME.webp"
          alt="Media Encoder logo"
          loading="lazy"
          class="w-max hidden md:block"
          srcset="
            ./images/logoME.webp 800w,
            ./images/logoME-500.webp 500w,
            ./images/logoME-300.webp 300w"
          sizes="(max-width: 1024px) 500px, 800px"
        />
      </div>

      <div class="md:w-7/12 lg:w-1/2">
        <h2 class="text-3xl font-bold text-white md:text-4xl">
          ¿Quiénes somos?
        </h2>
        <p class="my-8 text-white/80">
          Dentro de Media Encoder nos enfocamos en brindar servicios de calidad para construir marcas que no solo se vean bien, sino que vendan. Creamos contenido visual de alta calidad: filmamos, editamos y producimos piezas específicas pensadas estratégicamente para captar atención y posicionar tu negocio. Desarrollamos sitios web orientados a la conversión. Además, implementamos sistemas de venta y CRM personalizados para que cada contacto se transforme en una oportunidad real. No improvisamos: trabajamos con herramientas y procesos comprobados que integran creatividad, estrategia y ejecución para escalar tu marca de forma sólida y profesional.
        </p>

        <div class="space-y-2">
          <div class="mt-8 flex gap-4 md:items-center">
            <div class="w-12 h-12 flex items-center justify-center rounded-full bg-indigo-500/10">
              <a href="https://calendly.com/tobiasrozmediaencoder" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-indigo-400">
                  <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
            <div class="w-5/6">
              <h3 class="font-semibold text-lg text-white">Agenda tu llamada</h3>
              <p class="text-white/70">Te escuchamos. Contanos tu idea y empezamos.</p>
            </div>
          </div>

          <div class="pt-4 flex gap-4 md:items-center">
            <div class="w-12 h-12 flex items-center justify-center rounded-full bg-teal-500/10">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-teal-400">
                <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="w-5/6">
              <h3 class="font-semibold text-lg text-white">Comodoro Pedro Zanni 351</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
