---
import Container from "./Container.astro";
import ServicesIcon from "../icons/ServicesIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import Tailwind from "../icons/Tailwind.astro";
import Wordpress from "../icons/Wordpress.astro";
import PsIcon from "../icons/PsIcon.astro";
import AeIcon from "../icons/AeIcon.astro";
import IllustratorIcon from "../icons/IllustratorIcon.astro";
import HubSpotIcon from "../icons/hubspotIcon.astro";
import OpenAI from "../icons/OpenAI.astro";
import TechCard from "./TechCard.astro";

const techStack = [
  { icon: AstroIcon, name: "Astro" },
  { icon: Tailwind, name: "Tailwind CSS" },
  { icon: Wordpress, name: "Wordpress" },
  { icon: PsIcon, name: "Adobe Photoshop" },
  { icon: AeIcon, name: "Adobe After Effects" },
  { icon: IllustratorIcon, name: "Adobe Illustrator" },
  { icon: HubSpotIcon, name: "HubSpot" },
  { icon: OpenAI, name: "OpenAI" },
];
---

<Container>
  <h2 class="my-8 flex items-center gap-2 text-2xl font-bold text-white md:text-4xl" id="tecnologias">
    Tecnologías con las que trabajamos
    <ServicesIcon class="w-7 h-7 text-secondary" />
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">
    {techStack.map(({ icon, name }) => (
      <TechCard icon={icon} name={name} />
    ))}
  </div>
</Container>
