---
import Container from "./Container.astro"
---

<div class="relative" id="inicio">
   <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-80 dark:opacity-80">
  <div class="blur-[106px] h-56 bg-gradient-to-br from-fuchsia-500 to-black"></div>
  <div class="blur-[106px] h-32 bg-gradient-to-r from-fuchsia-500 to-black"></div>
</div>

    <Container>
        <div class="relative pt-36 ml-auto ">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 text-balance dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">MEDIA ENCODER<span class="text-primary dark:text-white">.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Posicionamos lo que otros apenas publican.</p>
                <div class="mt-8 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="https://wa.me/5491123642751"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Automatiza tu negocio</span
                      >
                    </a>
                    
                   
                </div>
                <div class="hidden py-8 mt-8 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Automatizamos tu marketing con IA.</h6>
                   
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Menos tareas, más estrategia.</h6>
                     
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Dejá el trabajo manual atrás.</h6>
                       
                    </div>
                </div>
            </div>
          
              
        </div>
    </Container>
</div>