---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import "./../tailus.css"
---

<!DOCTYPE html>
<html lang="es" class="dark overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="MediaEncoder Web" />
    <title>Media Encoder</title>

    <AstroFont
      config={[
        {
          src: [],
          name: "Urbanist",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap",
        },
      ]}
    />
  </head>

  <body class="scroll-smooth relative bg-gradient-to-t from-black via-fuchsia-700 to-fuchsia-900 overflow-x-hidden">
    <AppHeader />
    <slot />
    <AppFooter />

    <a
      href="https://wa.me/5491123642751"
      target="_blank"
      rel="noreferrer noopener"
      class="fixed bottom-4 right-4 z-50 inline-flex items-center justify-center w-14 h-14 rounded-full bg-[#25d366]"
    >
      <div class="absolute z-10 top-0 left-0 w-full h-full rounded-full bg-[#25d366] animate-ping"></div>
      <div class="relative z-20">
        <!-- ícono WhatsApp -->
        <svg
          fill="#fff"
          height="24px"
          width="24px"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 308.00 308.00"
          stroke="#fff"
        >
          <path
            d="M227.904,176.981c-0.6-0.288-23.054-11.345-27.044-12.781..."/>
          <path
            d="M156.734,0C73.318,0,5.454,67.354,5.454,150.143c0,26.777,7.166..."/>
        </svg>
      </div>
    </a>
  </body>
</html>
